// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(HarmoniaRegular, HarmoniaSansProCyrRegular)  
=reg
	font-family: "HarmoniaRegular", Arial, sans-serif 

+font(HarmoniaLight, HarmoniaSansProCyrLight)  
=light
	font-family: "HarmoniaLight", Arial, sans-serif 

+font(HarmoniaBold, HarmoniaSansProCyrBold)  
=bold
	font-family: "HarmoniaBold", Arial, sans-serif 

+font(HarmoniaSemiBdIt, HarmoniaSansProCyrSemiBdIt)  
=sboldit
	font-family: "HarmoniaSemiBdIt", Arial, sans-serif 

+font(HarmoniaSemiBd, HarmoniaSansProCyrSemiBd)  
=sbold
	font-family: "HarmoniaSemiBd", Arial, sans-serif 

+font(CourierNewReg, CourierNewReg)  
=cour
	font-family: "CourierNewReg", Verdana, sans-serif 
	
// +font(icomoon, icomoon)  
// =iconmoon
// 	font-family: "icomoon", Arial, sans-serif 
@font-face
	font-family: 'icomoon'
	src: url('../fonts/icomoon.eot?pdirkn')
	src: url('../fonts/icomoon.eot?#iefixpdirkn') format('embedded-opentype'), url('../fonts/icomoon.woff?pdirkn') format('woff'), url('../fonts/icomoon.ttf?pdirkn') format('truetype'), url('../fonts/icomoon.svg?pdirkn#icomoon') format('svg')
	font-weight: normal
	font-style: normal
=icon
	display: inline-block
	vertical-align: middle
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
[class^="icon-"], 
[class*=" icon-"]
	+icon
$yellow: #EED64E
$yellow_l: #F5DF74
$red: #e3560e
$black: #313442
$gray_d: #979AA4
$gray: #A7A9BA
$gray2: #75737c
$light: #F1F0EF
html
	font-size: 85%
	-webkit-font-smoothing: antialiased !important
	+r(1800)
		font-size: 75%
	+r(1600)
		font-size: 70%
	+r(1366)
		font-size: 62.5%
	&.no-scroll
		overflow: hidden
	&.has-open-calendar
		overflow: hidden
		.panel,
		.inner
			filter: blur(10px)
	&.has-open-popup
		.out
			filter: blur(10px)
			+tr(filter .3s)
body
	font-family: Arial, sans-serif 
	font-size: 1.2rem
	line-height: 1.4
	color: #000 
	+reg
	min-width: 1100px
a
	text-decoration: none
[data-sr]
	visibility: hidden

.vertical
	+vertical
	&__in
		display: inline-block
		vertical-align: middle
		width: 100%
.l-center
	padding: 0 4rem
	+rmin(1920)
		padding: 0 3rem 
.to-center
	text-align: center
	+clr
.to-right
	text-align: right
.to-left
	text-align: left
.header
	position: fixed
	left: 0
	right: 0
	top: 0
	transform: translateY(0)
	z-index: 10
	border-bottom: 1px solid #d6d5da
	//background: #fff 
	text-align: right
	min-width: 1366px
	transition: transform .3s
	+gpu
	&:before
		content: ""
		position: absolute
		top: 0px
		bottom: 0px
		left: 0
		right: 0
		z-index: -1
		background: #fff
		transition: all .3s
		+gpu
	.l-center
		position: relative
		z-index: 4
		line-height: 1.4
		+clr
		width: 100%
		display: inline-block
		vertical-align: middle
	.city
		position: absolute
		left: 23rem
		top: 0
		opacity: 1
		visibility: visible
		+tr(opacity .3s)
		&__list
			box-shadow: 0 1px 1px rgba(0,0,0,.1)
	.tel
		display: inline-block
		vertical-align: middle
	.logo
		position: absolute
		left: 4rem
		top: 2.3rem
.header
	&.no-bg
		transform: translateY(31px)
		background: none
		border: 0
		&:before
			background: none
			top: -20px
			bottom: -20px
		.logo
			top: 1.8rem
			.icon-logo
				color: $yellow
				font-size: 2.4rem
		.city
			opacity: 0
			visibility: hidden
		.nav
			font-size: 1.4rem
			+rmin(1920)
				margin-right: 0
			> li
				&:hover
					> a
						color: $yellow 
				> a
					color: #fff
			.is-active
				> a
					color: $yellow 
			.has-drop-nav
				> a
					&:before
						+svg(caret-d-yellow,.8,.5)
			&__drop
				border-top: 3px solid $yellow 
				background: rgba(49, 52, 66, 0.4)
				a
					&:hover
						color: #fff 
		.tel
			color: $yellow 
			font-size: 1.4rem
.logo
	+hide-text
	.icon-logo
		color: $black
		font-size: 1.9rem
		+tr(font-size .3s)
.nav
	display: inline-block
	vertical-align: middle
	font-size: 1.3rem
	+rmin(1920)
		margin-right: 2.3rem
	+reg
	> li
		position: relative
		float: left
		margin-right: 1.2rem
		+tr(margin-right .3s)
		+rmin(1920)
			margin-right: 2.5rem
		&:hover
			.nav__drop
				visibility: visible
				opacity: 1
			> a
				color: $red 
		> a
			display: block
			padding: 0 1.7rem 
			height: 60px
			line-height: 60px
			text-transform: uppercase
			color: #787878 
			+tr(color .3s)
			+rmin(1600)
				height: 67px
				line-height: 67px
			+rmin(1800)
				height: 82px
				line-height: 82px
		&.is-active
			> a
				color: $red 	
	.has-drop-nav
		&:hover
			a
				&:after
					opacity: 0
				&:before
					opacity: 1
		> a
			&:after,
			&:before
				content: "" 
				position: absolute
				right: 0
				top: 50%
				margin-top: -.25rem
				will-change: opacity
				+tr(opacity .3s)
			&:after
				+svg(caret-d,.8,.5)
			&:before
				opacity: 0
				+svg(caret-d-red,.8,.5)
	&__drop
		opacity: 0
		visibility: hidden
		position: absolute
		top: 100%
		left: 1.7rem
		margin-top: -.6rem
		border-top: 3px solid $red
		padding: .7rem 0 
		min-width: 10.8rem
		background: #fff
		text-align: left
		box-shadow: 0 1px 1px rgba(#000,.1) 
		border-radius: 0 0 .5rem .5rem
		transition: opacity .3s
		will-change: opacity 
		a
			display: block
			padding: .4rem 1.4rem
			color: $gray 
			+tr(color .3s)
			&:hover
				color: $black 
			 
.tel
	font-size: 1.3rem
	color: $red
	+sbold
	i
		margin-right: 1.5rem
		font-size: 1.7rem

@keyframes tip
	0
		transform: translateY(0)
	50%
		transform: translateY(-5px)
	100%
		transform: translateY(0)
@keyframes tipPlan
	0
		transform: translateY(0) translateX(-50%)
	50%
		transform: translateY(-5px) translateX(-50%)
	100%
		transform: translateY(0) translateX(-50%)
@keyframes tipHide
	0
		opacity: 1
		visibility: visible
	100%
		opacity: 0
		visibility: hidden

.city
	font-size: 1.3rem
	text-align: left
	&__title,
	&__main
		display: inline-block
		height: 6.0rem
	&__title
		color: #858585
		line-height: 6.0rem
	&__active
		position: relative
		color: $red
		display: block
		line-height: 6rem
		span
			display: inline-block
			line-height: 1
			border-bottom: 1px dashed
	&__main
		position: relative
		&:hover
			.city__list
				opacity: 1
				visibility: visible
	&__list
		position: absolute
		visibility: hidden
		opacity: 0
		top: 100%
		left: 0
		margin-top: -.6rem
		border-top: 3px solid $red
		padding: .7rem 0 
		background: #fff
		text-align: left
		border-radius: 0 0 .5rem .5rem 
		white-space: nowrap
		will-change: opacity
		transition: opacity .3s
		+rmin(1920)
			font-size: 1.3rem
		a
			display: block
			padding: .4rem 1.4rem
			color: $gray 
			+tr(color .3s)
			&:hover
				color: $black 
	&__tip
		position: absolute
		bottom: 100%
		left: 50%
		margin: 0 0 -.7rem -8rem
		width: 16rem
		height: 3.5rem
		line-height: 3.5rem
		+reg
		font-size: 1rem
		text-align: center
		color: rgba(#fff,.4)
		will-change: transform
		//animation: tip .4s linear 0 7, tipHide .4s linear 4s forwards
		animation: tip .4s linear 7, tipHide .4s linear 3s forwards
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			+svg(tip,16,4.1)

.city_top
	font-size: 1.4rem
	.city__title
		color: #fff 
	.city__active
		color: $yellow 
	.city__list
		top: auto
		bottom: 100%
		margin-bottom: -23px
		border: 0
		background: none
		a
			color: #fff
			padding-left: 0
			will-change: opacity
			+tr(opacity .3s)
			opacity: 0.4
			&:hover
				opacity: 1
.h1
	margin: 0 0 1.1rem 
	font-size: 6.9rem
	line-height: 1.4
	+bold
	font-weight: normal
	color: #fff
	text-transform: uppercase
	+rmin(1920)
		margin-bottom: 2rem
	strong
		font-weight: normal
		color: $yellow 
.h2
	margin: 0 0 1.1rem 
	font-size: 5.7rem
	line-height: 1.4
	+bold
	font-weight: normal
	color: $black
	text-transform: uppercase
		
.btn
	position: relative
	z-index: 2
	display: inline-block
	vertical-align: middle
	text-align: left
	border: 1px solid $yellow
	color: $yellow 
	padding: 1.4rem 2rem 1.3rem 4rem
	border-radius: .3rem 
	font-size: 1.4rem
	line-height: 1.4
	text-transform: uppercase
	+sbold
	text-decoration: none
	background: none 
	+tr(color .3s) 
	.ios &
		&:before
			display: none
	+rmin(1920)
		padding: 1.8rem 2rem 1.7rem 4rem 
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 0
		z-index: -1 
		background: $yellow
		border-radius: .1rem  
		+tr(height .3s)
	&:hover
		color: #000 
		&:before
			height: 100%
		i
			color: #000
	&:active
		&:before
			background: darken($yellow, 10%)
	i
		margin-left: 1.7rem
		+rmin(1920)
			font-size: 1.3rem
	&_red
		color: $red 
		border-color: $red 
		&:hover
			color: #fff 
			i
				color: #fff 
			.edit-icon
				&:before
					opacity: 1 
		&:before
			background: $red 
		&:active
			&:before
				background: darken($red, 10%)
		.ios &
			&:hover
				color: $red 
	&_gray
		color: $gray2  
		border-color: #e3e3e9 
		&:hover
			color: #fff 
			border-color: $red 
			i
				color: #fff 
			.edit-icon
				&:before
					opacity: 1 
		&:before
			background: $red
		&:active
			&:before
				background: darken($red, 10%)
	.ios &
		&:hover
			color: $gray2  
	&_green
		padding: 1.4rem 1.8rem 1.3rem 2.4rem
		border-color: #50BB82 
		color: #fff 
		i
			margin-left: 1rem
		&:before
			background: #50BB82 
			height: 100%
		&:hover
			color: #fff 
			i
				color: #fff 
			&:before
				background: darken(#50BB82, 10%)
		&:active
			color: #fff 
			&:before
				background: darken(#50BB82, 20%)
		&[disabled]
			pointer-events: none
			color: #50BB82 
			&:before
				height: 0
	&_light
		padding: 1.4rem 2.4rem 1.3rem 1.8rem
		border-color: #d9d8e0 
		color: #d9d8e0 
		i
			margin-right: 1rem
			margin-left: 0
		&:before
			background: #d9d8e0 
		&:hover
			color: #fff 
			i
				color: #fff 
		&:active
			color: #fff 
			&:before
				background: darken(#d9d8e0, 20%)
	&_big
		padding: 1.7rem 2rem 1.6rem 3rem
		min-width: 20.7rem
	&_width
		display: block
		width: 100%
		padding: 1.4rem 0 1.3rem 0
		font-size: 1.2rem
		text-align: center
		+reg
		i
			font-size: 1rem
			margin-left: 1.0rem
	&_center	
		text-align: center
	.edit-icon
		position: relative
		display: inline-block
		vertical-align: middle
		+svg(edit,2.8,1.9)
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 0
			+svg(edit-white,2.8,1.9)
			+tr(opacity .3s)
			will-change: opacity
			opacity: 0
			
.footer
	position: relative
	z-index: 2
	padding: 7.3rem 0 3rem 
	text-align: center
	background: #393744
	&_index
		background: none 
	.logo
		display: inline-block
		margin-bottom: 3.2rem
		i
			color: #fff 
			font-size: 2.8rem
	&__nav
		font-size: 1.3rem
		li
			position: relative
			display: inline-block
			&:first-child
				&:before
					display: none
			&:before
				content: ""
				position: absolute
				left: 0
				top: .6rem
				height: 1.6rem
				width: .1rem
				background: rgba($gray, .2)
		a
			display: block
			padding: .5rem 2rem 
			color: #898294 
			+tr(color .3s)
			&:hover
				color: #fff 
	&__message
		margin: 3.5rem auto
		border: 1px dashed rgba($gray, .5)
		width: 59rem
		height: 5.6rem
		line-height: 5.6rem
		border-radius: .5rem
		font-size: 1.3rem
		color: #fff
		a
			color: $yellow 
			text-decoration: underline
			&:hover
				text-decoration: none
	&__meta
		font-size: 0.9rem
		color: #898294
		
.popup
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 20
	+vertical
	display: none
	&_white	
		.popup__in
			border: 0
	&__in
		display: inline-block
		position: relative
		vertical-align: middle
		border: 1px solid #111516
		padding: 8.5rem 2rem 2.5rem
		width: 77.5rem
		background: #fff
		border-radius: 5px
		font-size: 1.2rem
		color: $gray 
	.main-title
		margin-bottom: 4rem
	.icon-close
		position: absolute
		top: 1.8rem
		right: 1.8rem
		color: $black
		background: none
		+tr(color .3s)
		font-size: 1.1rem
		+rmin(1920)
			font-size: 1.4rem
		&:hover
			color: $red 
	.city-boxes-wrap
		margin-bottom: 6rem
.city-boxes-wrap
	text-align: center
.city-box
	display: inline-block
	vertical-align: middle
	border: 1px solid #E6E6E5
	border-top-width: 2px 
	width: 20.7rem
	margin-left: 1.7rem
	border-radius: 1px 1px 5px 5px
	+tr(border .3s)
	&:hover,
	&.is-active
		border-top-color: $yellow
	&:first-child
		margin-left: 0 
	&__in
		line-height: 8.3rem
		font-size: 1.5rem
		+reg
		color: $black 
	&__name
		margin-bottom: 1rem
		font-size: 2rem
		color: $black
		+reg 
		+max-screen(1600)
			font-size: 20px
		+rmin(1920)
			margin-bottom: 1.1rem

.city-box_small
	text-align: left
	width: 31rem
	padding: 2rem 1rem 2rem 2.4rem 
	border-top-width: 1px 
	border-radius: 5px
	font-size: 0
	+tr(box-shadow .3s)
	+rmin(1920)
		padding: 1.2rem 1rem 1.2rem 2.4rem 
		width: 30rem
	&:hover
		box-shadow: inset 0 1px 0 $yellow 
