.icon-arr-l:before
	content: "\e600"

.icon-arr-r:before
	content: "\e601"

.icon-calendar:before
	content: "\e602"

.icon-car:before
	content: "\e603"

.icon-card:before
	content: "\e604"

.icon-caret:before
	content: "\e605"

.icon-cart:before
	content: "\e606"

.icon-clock:before
	content: "\e607"

.icon-close:before
	content: "\e608"

.icon-comment:before
	content: "\e609"

.icon-del:before
	content: "\e60a"

.icon-eye:before
	content: "\e60b"

.icon-file:before
	content: "\e60c"

.icon-info:before
	content: "\e60d"

.icon-info2:before
	content: "\e60e"

.icon-letter:before
	content: "\e60f"

.icon-logo:before
	content: "\e610"

.icon-minus:before
	content: "\e611"

.icon-pay:before
	content: "\e612"

.icon-pencil:before
	content: "\e613"

.icon-pin:before
	content: "\e614"

.icon-play:before
	content: "\e615"

.icon-plus:before
	content: "\e616"

.icon-print:before
	content: "\e617"

.icon-sberbank:before
	content: "\e618"

.icon-send:before
	content: "\e619"

.icon-share:before
	content: "\e61a"

.icon-stone:before
	content: "\e61b"

.icon-tel:before
	content: "\e61c"

.icon-tickets:before
	content: "\e61d"

.icon-user:before
	content: "\e61e"

.icon-video:before
	content: "\e61f"
