.inner
	position: relative
	padding: 16.5rem 0
	transition: filter .3s
.step
	margin: 4.5rem 0 14rem
	text-align: center
	font-size: 0
	&__item
		display: inline-block
		vertical-align: middle
		position: relative
		width: 20.5rem
		text-align: left
		+rmin(1920)	
			width: 23rem
		&:last-child
			width: 0
			&:before
				display: none
		&:before
			content: ""
			position: absolute
			left: 1.3rem
			top: 50%
			right: 0.5rem 
			height: 1px
			background: $gray 
		&.is-active
			i
				background: #e3560e
				border-color: #e3560e 
			span
				color: #75737c
		&.is-checked  
			i
				background: $gray 
	&__in
		display: inline-block
		position: relative
		i
			display: block
			width: .8rem
			height: .8rem
			border-radius: 50% 
			border: 1px solid $gray
		span
			position: absolute
			left: 50%
			top: 2.3rem
			margin-left: -8.5rem
			width: 17rem
			font-size: 1.2rem
			text-align: center
			font-style: normal
			+reg
			text-transform: uppercase
			color: $gray 

.box
	display: inline-block
	position: relative
	vertical-align: middle
	margin-left: 4rem
	border: 1px solid #e3e3e9 
	padding: 3rem 2rem 10rem
	border-top-width: 2px
	width: 21.4rem
	border-radius: 5px 
	+rmin(1920)
		padding-top: 4.4rem
		width: 23rem
	&:first-child
		margin-left: 0
	&__title
		font-size: 1.7rem
		text-transform: uppercase
		+sbold
		color: $gray2
		+rmin(1920)
			margin-bottom: 0.6rem
	&__title-big
		margin-bottom: 1rem
		font-size: 2.6rem
		+sbold
		color: $black
		text-transform: uppercase 
	&__info
		margin-bottom: 2.8rem
		font-size: 1.1rem
		+reg
		color: $gray
	&__icon
		font-size: 4rem
		color: $gray2
		+rmin(1920)
			font-size: 5rem
	.icon-stone
		font-size: 3.3rem
		top: 0.2rem
		position: relative
		+rmin(1920)
			font-size: 4.3rem
	.btn
		position: absolute
		left: 2rem
		right: 2rem
		width: auto
		bottom: 1.9rem
	&_height
		min-height: 25rem
		padding-top: 4rem
		+rmin(1920)
			min-height: 28rem
.tag-wrap
	position: relative 
	display: inline-block
	vertical-align: middle
	margin: 0 1rem .7rem 0
	&:last-child
		margin-right: 0
	&:hover
		.tag
			background: #faf0bf 
			color: $black 
		.tag-tip
			opacity: 1
			visibility: visible
			transform: translateY(0)
.tag
	display: inline-block	
	padding: 12px 1.4rem 
	background: #f8f8f8 
	border-radius: 5px
	font-size: 1.1rem
	+sbold
	line-height: 1
	text-transform: uppercase
	color: $gray
	text-align: center 
	transition: background .3s, color .3s
	+max-screen(1600)
		font-size: 13px
	+rmin(1920)
		padding: .8rem 1.4rem 
		font-size: 1.1rem

.tag-tip
	position: absolute
	z-index: 2
	top: 100%
	left: 50%
	transform: translateY(-5px)
	opacity: 0
	visibility: hidden
	margin-left: -10.3rem
	padding-top: 1.2rem
	width: 20.6rem
	will-change: transform
	transition: opacity .3s, transform .3s
	&__in
		position: relative
		border: 1px solid #e9e9e9
		padding: 1.5rem
		background: #fff
		border-radius: 5px  
		box-shadow: 1px 1px 2px rgba(#000,.1)
		&:before
			content: ""
			position: absolute
			left: 50%
			margin-left: -9px
			top: -8px 
			background: url(../img/svg/arr.svg) no-repeat 0 0
			background-size: 18px 8px
			width: 18px
			height: 8px
	&__time
		margin-bottom: 1.5rem
		text-align: left
		font-size: 1.2rem
		text-transform: uppercase
		color: $black 
		+reg
		i
			margin-right: 1rem
			color: $gray
			vertical-align: baseline 
.info-list
	margin-bottom: 1rem
	font-size: 1.4rem
	+reg
	text-align: left
	color: #75737c
	+rmin(1920)
		font-size: 1.2rem
	li
		position: relative
		margin-bottom: 0.4rem
		padding-left: 2rem
		i
			position: absolute
			left: 0
			top: 3px
			font-size: 1.2rem
			color: $gray 
			+rmin(1920)
				font-size: 1.1rem
		.icon-pin
			font-size: 1.3rem
			top: 1px
			+rmin(1920)
				font-size: 1.3rem
	a
		color: $red 
		text-decoration: underline
		&:hover
			text-decoration: none
		i
			color: $red 	
.cols-wrap
	margin: 0 auto 
	width: 82rem
	+clr
	+rmin(1920)	
		width: 92rem
	&_width
		width: 100.5rem
	+ .cols-wrap
		margin-top: 3rem
		+rmin(1920)
			margin-top: 5rem
.show
	float: left
	width: 25.5%
	+rmin(1920)
		width: 26.5%
	&_small
		width: 23%
		+rmin(1920)
			width: 24%
	.box
		margin: 0
		width: 100%
		padding: 2rem
	.info-list
		color: $gray
		i
			color: $red 
.show__img
	position: relative
	img
		display: block
		width: 100%
		height: auto
.col-calendar
	float: right
	width: 60%
.calendar
	font-size: 1.4rem
	+reg
	&__nav
		position: relative
		font-size: 0
		margin-bottom: 2.5rem
		+rmin(1920)
			margin-bottom: 3rem
		a
			display: inline-block
			margin: 0 1.5rem
			color: $gray
			font-size: 1.4rem
			text-transform: uppercase
			+tr(color .3s)
			&.is-active
				color: $black 
				font-size: 1.8rem
			&:hover
				color: $red 
	&__prev,
	&__next
		position: absolute
		top: 0
		bottom: 0
		+vertical
		background: none
		width: calc(100%/7)  
		i
			font-size: 1.3rem
			color: $red 
	&__prev
		left: 0
	&__next
		right: 0
	&__head
		margin-bottom: 1.3rem
		text-transform: uppercase
		color: $gray
		+clr
		+rmin(1920)
			margin-bottom: 2.3rem
		li
			float: left
			width: calc(100%/7)  
	&__body
		text-transform: uppercase
		font-size: 0
		li
			display: inline-block
			margin-bottom: 1.2rem
			vertical-align: middle
			font-size: 1.2rem
			width: calc(100%/7)  
			text-align: center
			> div
				display: inline-block
				vertical-align: middle
				position: relative
				> a
					display: block
					width: 3.7rem
					height: 3.7rem
					line-height: 3.7rem
					border-radius: 50%  
					color: #393744
					transition: background .3s, color .3s
					+rmin(1920)
						width: 4.1rem
						height: 4.1rem
						line-height: 4.1rem
					&.has-event
						background: #e7e7e7
						&:hover
							background: darken(#f4f4f6, 10%)
						&.is-active
							background: $red
							color: #fff  
			&.is-inactive
				color: $gray2 
				
.tag-tip_time
	left: 100%
	top: 50%
	margin-left: 1.6rem
	padding-top: 0
	width: 17rem
	transform: translateY(-50%) translateX(-5px)
	&.is-visible
		visibility: visible
		opacity: 1
		transform: translateY(-50%) translateX(0)
	.tag-tip__in
		padding: 2.2rem 
		&:before
			display: none
		&:after
			content: ""
			position: absolute
			top: 50%
			margin-top: -9px
			left: -8px 
			background: url(../img/svg/arr-l.svg) no-repeat 0 0
			background-size: 8px 18px
			width: 8px
			height: 18px
	.btn
		margin-top: 1.3rem

.order
	text-align: center
	margin: 5rem 0 
	&__media
		position: relative
		display: inline-block
		margin-bottom: 4.2rem
		img
			width: 15rem
			height: auto
		.order__tickets
			position: absolute
			top: 0
			left: 0
			will-change: transform
			transition: transform .5s
			transform: translateY(-2.2rem) translateX(-9.5rem)
			width: 5.5rem
			&.is-active
				transform: translateY(2.3rem) translateX(4.5rem) rotate(34deg)
	&__title
		font-size: 1.8rem
		+reg
		color: $black
		span
			color: $red
			font-size: 2.3rem
			+sbold
	&__meta
		font-size: 1.3rem
		+reg
		color: $gray
		span
			color: $red
		p
			margin-top: 1rem
			&:first-child
				margin-top: 2rem
	.btn
		margin-top: 3.5rem
		padding: 1.8rem 2rem 1.7rem 2rem 
		i
			margin-left: 1.2rem
.check
	position: relative
	margin: 4rem auto 0
	width: 25rem
	color: #2D3588 
	text-align: center
	will-change: transform
	transition: transform .5s, opacity .5s
	+cour
	> img
		position: absolute
		left: 0
		top: -4px
		width: 100%
		height: auto
	+rmin(1920)
		width: 25rem
	&__in
		position: relative
		display: none
		top: 6px
		margin: 0 1.2rem
		border-left: 1px solid #ebebeb
		border-right: 1px solid #ebebeb
		+g3(#eff0f2 10%, #fbfbfb 40%, #f9f9f9)
		&:after
			content: ""
			position: absolute
			bottom: 2.2rem
			right: 32px
			+svg(smile,1.6,1.6) 
	&__title
		position: relative
		padding: 3rem 0 2rem
		border-bottom: 1px solid #f9e9e9 
		font-size: 2.4rem
		&:before
			content: ""
			position: absolute
			top: 1.4rem
			left: 13px
			right: 13px
			height: 2px
			background: url(../img/dot.png) 0 0 repeat-x
		&:after
			content: ""
			position: absolute
			bottom: 1px
			left: 0
			right: 0
			height: 1px
			background: #f9e9e9  
	&__list
		padding: 2rem 2rem 
		font-size: 1.2rem
		text-align: left
		li
			margin-bottom: 0.3rem
			+clr
			&:last-child
				margin-top: 1.5rem
		span
			float: left
			&:last-child
				float: right
	&__message
		position: relative
		padding: 2.2rem 0 
		font-size: 1.1rem
		text-transform: uppercase
		letter-spacing: 4px 
		&:before
			content: ""
			position: absolute
			top: 0
			left: 13px
			right: 13px
			height: 2px
			background: url(../img/dot.png) 0 0 repeat-x
		&:after
			content: ""
			position: absolute
			bottom: -3px
			left: 0
			right: 0
			height: 6px
			background: url(../img/check-arrows.png) -9px 0 repeat-x
.plan-section
	float: left
	width: 40rem
	svg
		width: 100%
		g
			> *
				opacity: 0.4
				cursor: pointer
				+tr(opacity .3s, fill .3s)
			&:hover,
			&.is-active
				> *
					opacity: 1
	&__detail
		display: inline-block
		margin-top: 1rem
		color: $gray
		+reg
		font-size: 1.1rem 
		+tr(color .3s)
		&:hover
			color: $red 
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin-right: 0.5rem
			font-size: 0.8rem
			+rmin(1920)
				font-size: 1rem
		span
			border-bottom: 1px dashed 
.tickets-col
	float: right
	width: 52rem
	.tab-cont
		display: none
		&.is-visible
			display: block
.number
	position: relative
	white-space: nowrap
	&:hover
		.number__input
			color: $red 
	&__num
		font-size: 1.1rem
		color: $black
		text-align: center 
	&__input
		display: inline-block
		height: 2rem
		width: 3rem
		text-align: center
		font-size: 1.2rem
		+reg
		+tr(color .3s)
		background: none
	.is-disabled
		+ .number__input
			color: #a7a9ba
	.icon-plus,
	.icon-minus
		font-size: 2rem
		background: none
		color: $gray
		transition: color .3s, opacity .3s
		&:hover
			color: $red 
		&.is-disabled
			pointer-events: none
			opacity: 0.3
			
.radio
	display: inline-block
	position: relative
	cursor: pointer
	&:hover
		i
			&:after
				opacity: 1
	span
		display: block
		position: relative
		font-size: 1.2rem
		color: $gray2
	i
		display: inline-block
		margin-right: 1.4rem
		position: relative 
		vertical-align: middle
		width: 1.1rem
		height: 1.1rem
		border: 1px solid
		border-radius: 50% 
		+rmin(1920)
			width: 18px
			height: 18px
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -.25rem 0 0 -.25rem 
			width: .5rem
			height: .5rem
			border-radius: 50% 
			opacity: 0
			+tr(opacity .3s)
			+rmin(1920)
				margin: -3px 0 0 -3px
				width: 6px
				height: 6px
.radio_violet
	i
		border-color: #9F76B4 
		&:after
			background: #9F76B4
.radio_green
	i
		border-color: #73BE96 
		&:after
			background: #73BE96
.radio_blue
	i
		border-color: #00B1E7 
		&:after
			background: #00B1E7
.radio_red
	i
		border-color: #D96C6C 
		&:after
			background: #D96C6C
.radio_orange
	i
		border-color: #FAA627 
		&:after
			background: #FAA627
.table
	display: table
	width: 100%
	table-layout: fixed
	.tip
		display: none
		opacity: 1
		visibility: visible
		transition: none
	&__head,
	&__row,
	&__caption
		display: table-row
		li
			text-align: center
			&:first-child
				text-align: left
	&__head
		font-size: 1.1rem
		color: $gray
		li
			padding: 1rem 0 
		
	&__row
		font-size: 1.2rem
		+reg
		color: $gray2 
		&:hover,
		&.is-active
			li
				opacity: 1
		&:nth-child(2n)
			background: #f9f9fb 
		li
			padding: 2rem 1.5rem
			opacity: 0.5
			will-change: opacity
			+tr(opacity .3s)
			&:first-child
				border-radius: 5px 0 0 5px
			&:last-child
				border-radius: 0 5px 5px 0
		&:hover,
		&.is-active
			.radio
				i
					&:after
						opacity: 1
	li
		display: table-cell
		vertical-align: middle
		position: relative
		.tip
			white-space: nowrap
			left: 50%
			bottom: 100%
			transform: translateX(-50%)
		.icon-info2
			vertical-align: middle
			margin-left: 0.5rem
			+tr(color .3s)
			&:hover
				color: $red 
.table_small
	li
		padding-top: 1.3rem  		
		padding-bottom: 1.3rem  
		opacity: 1
		span
			color: $gray 		
			font-size: 1.1rem
	.icon-del
		float: right
		+rmin(1920)
			margin-left: 1rem
.icon-del
	font-size: 1.2rem
	color: $gray
	+tr(color .3s)
	background: none
	vertical-align: middle
	+rmin(1920)
		font-size: 1.5rem
	&:hover
		color: $red 
.tabs
	margin-bottom: 1.5rem
	+clr
	li
		float: left
		margin-left: 4rem
		&:first-child
			margin-left: 0
		&.is-active
			a
				color: $red 
			span
				border-bottom-color: $red 
	a
		display: block
		position: relative
		font-size: 1.5rem
		height: 3rem
		line-height: 3rem
		color: $black
		text-transform: uppercase
		+tr(color .3s)
		&:hover
			color: $red 
	span
		display: inline-block
		border-bottom: 1px solid transparent
	i
		margin-right: 1.2rem 
		
.panel
	position: fixed
	left: 0
	bottom: 0
	right: 0
	z-index: 8
	transition: filter .3s
	.l-center
		position: relative
		border-top: 1px solid #d6d5da 
		padding: 1.4rem 3rem 
		text-align: right
		background: #fff
		z-index: 2 
	&__title
		position: absolute
		top: 0
		bottom: 0
		left: 3rem
		+vertical
		span
			display: inline-block
			vertical-align: middle
			font-size: 1.4rem
			+reg
			color: $black
		strong
			font-weight: normal
			color: $red
			+sbold
			text-transform: uppercase 
	.btn
		margin-left: 5rem
.info-item
	position: relative
	margin-left: 6.3rem
	display: inline-block
	vertical-align: middle
	text-align: left
	line-height: 1
	color: $gray2 
	&:hover
		.cart
			opacity: 1
			visibility: visible
	&__img
		display: inline-block
		position: relative
		vertical-align: middle
		margin-right: 1.4rem
		i
			vertical-align: middle
			color: $gray
			font-size: 1.5rem 
	&__main
		display: inline-block
		vertical-align: middle
		font-size: 1.3rem
		span
			display: block
		a
			color: $red
			text-decoration: underline
			+sboldit
			font-size: 1.1rem
			&:hover
				text-decoration: none
		strong
			font-weight: normal
			+sbold
			color: $red
	&__counter
		position: absolute
		left: 1.3rem
		bottom: 0.6rem
		width: 1.6rem
		height: 1.6rem
		line-height: 1.6rem
		text-align: center
		border-radius: 50% 
		color: #fff
		+sbold
		font-size: 1rem 
		background: $red 
.cart
	position: absolute
	bottom: 100%
	left: -5rem
	padding-bottom: 2rem
	z-index: 2
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	&__in
		position: relative
		border: 1px solid #D9DAD8
		padding: 1rem 1.3rem
		width: 21.3rem
		background: #fff 
		font-size: 1.1rem
		border-radius: 5px 
		+reg
		&:after
			content: ""
			position: absolute
			left: 5rem
			bottom: -0.8rem
			+svg(cart-arr,1.1,.8)
	&__table
		display: table
		width: 100%
		color: $gray 
	&__item	
		display: table-cell
		vertical-align: middle
		padding: .8rem 0 
		text-align: center
		&:first-child
			text-align: left
			width: 60%
		&:last-child
			text-align: right
		.radio
			span
				color: $gray2
	&__total
		margin-top: 1rem
		padding-top: 0.5rem
		border-top: 1px solid $gray 
		.cart__table
			color: $black 
		span
			color: $red 
			
.map
	position: absolute
	bottom: 100%
	left: 0
	right: 0
	z-index: 1
	overflow: hidden
	height: 0
	+tr(height .5s)
	&.is-active
		height: 50vh
	&__in
		height: 50vh
	.icon-close
		position: absolute
		z-index: 2
		right: 3rem
		top: 3rem
		color: $black 
		font-size: 2rem
		+tr(color .3s)
		background: none
		&:hover
			color: $red 
			

.result-col
	float: right
	width: 72%
	
.total-sum
	margin: 1rem 0 
	text-align: right
	font-size: 1.5rem
	+reg
	color: $black
	span
		color: $red
		font-size: 1.8rem
		+sbold 

.caption
	text-align: left
	font-size: 1.2rem
	+reg
	margin-bottom: .5rem
	+rmin(1920)
		margin-bottom: 1.5rem
	&__title
		font-size: 1.8rem
		color: $black
		+rmin(1920)
			margin-bottom: .8rem
	&__meta
		span
			display: inline-block
			vertical-align: middle
			margin-right: 2rem
			color: $gray 
			i
				margin-right: .7rem
				color: $red 
				vertical-align: middle
				font-size: 1.2rem
			.icon-clock
				font-size: 1rem
		.link-edit
			float: right

.link-edit
	font-size: 1.2rem
	+sboldit
	color: $red
	text-decoration: underline
	&:hover
		text-decoration: none 
	i
		font-size: 1rem
		margin-right: 0.5rem
		
.field-col
	width: 59rem
	float: left
.radio-col
	width: 36rem
	float: right

.radiobox
	position: relative
	margin-bottom: -1px
	border: 1px solid #eae9ef
	padding: 0 6.3rem 0 5rem
	height: 8.5rem
	+vertical
	+reg
	cursor: pointer
	&:first-child
		border-radius: 5px 5px 0 0 
	&:last-child
		border-radius: 0 0 5px 5px 
	&:hover
		.radiobox__icon
			border-color: $gray
	&.is-active
		.radiobox__icon
			border-color: $red
			&:after
				background: $red
				opacity: 1 
		.radiobox__img
			i
				color: $black 
	
	&__in
		display: inline-block
		vertical-align: middle
		width: 100%
		text-align: left
	&__title
		position: relative
		display: inline-block
		font-size: 1.5rem
		color: $black
		i
			color: $gray
			margin-left: 0.5rem
			font-size: 1.2rem
			+tr(color .3s)
			&:hover
				color: $red 
		.input-tip
			left: 100%
			z-index: 2
			min-width: 1rem
			width: 27rem
			&:before
				+rmin(1920)

					left: -12px
					margin-top: -9px
					+arr(12,18,#f7e380,l)
			.icon-close
				top: 1rem
				margin-top: 0
	&__info
		font-size: 1.2rem
		color: $gray 
	&__img
		position: absolute
		top: 0
		bottom: 0
		right: 0
		+vertical
		width: 6rem
		i
			vertical-align: middle
			font-size: 2.5rem
			color: $gray
		.icon-card
			font-size: 1.9rem
	&__icon
		position: absolute
		top: 50% 
		left: 2rem
		margin-top: -0.55rem
		width: 1.1rem
		height: 1.1rem
		border: 1px solid #eae9ef
		border-radius: 50% 
		+tr(border .3s)
		+rmin(1920)
			width: 22px
			height: 22px
			margin-top: -11px
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -.25rem 0 0 -.25rem 
			width: .5rem
			height: .5rem
			border-radius: 50% 
			opacity: 0
			+tr(opacity .3s)
			+rmin(1920)
				margin: -4px 0 0 -4px
				width: 8px
				height: 8px
	input
		opacity: 0
		position: absolute
		
.form-action
	clear: both
	padding: 3rem 0 0
	+clr
	.btn
		+rmin(1920)
			padding-top: 1.9rem
			padding-bottom: 1.8rem
	.btn_green
		float: right
	.btn_light
		float: left
		
.tip_plan
	&.is-visible
		animation: tipPlan .4s linear 0 7
		
.plan
	position: relative
	margin: 0 auto 
	width: 92rem
	svg
		width: 100%
		path
			cursor: pointer
			&:hover
				fill: #323442
				stroke-width: 2px
			&.is-inactive
				stroke: #A8AABB
				opacity: 0.47
				pointer-events: none
			&.is-selected
				fill: #E96026
				stroke: none
	&__tip
		display: none
		position: absolute
		left: 0
		top: 0
		margin-left: .8rem
		z-index: 2
		will-change: left
		transform: translateX(-50%)
		border: 1px solid #D9DBD9
		padding: 1rem 1.5rem 
		font-size: 1.2rem
		+reg
		pointer-events: none
		white-space: nowrap
		transition: top .5s, left .5s
		color: #383744
		line-height: 1.8
		text-align: center
		background: #fff 
		border-radius: 5px 
		span
			display: block
			color: $red 
		&:after
			content: ""
			position: absolute
			left: 50%
			bottom: -0.8rem
			margin-left: -0.55rem
			+svg(cart-arr,1.1,.8) 

.plan-info
	margin: 0 auto -2rem
	border: 1px dashed #A7A9BA
	padding: 1.5rem 2rem 
	width: 40rem
	border-radius: 40px
	text-align: left
	+clr
	li
		float: left
		width: 33.3%
		font-size: 1.2rem
		+reg
		color: rgba($black, .73) 
	i
		margin-right: 10px
		vertical-align: bottom
		background-size: 18px 18px
		width: 18px
		height: 18px
		+rmin(1600)
			background-size: 20px 20px
			width: 20px
			height: 20px
.icon-sit
	background: url(../img/svg/sit.svg) no-repeat 0 0 
.icon-sit-selected
	background: url(../img/svg/sit-selected.svg) no-repeat 0 0 
.icon-sit-inactive
	background: url(../img/svg/sit-inactive.svg) no-repeat 0 0 
	
@keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)
@-moz-keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)
.preloader
	margin: 0 auto
	position: relative 
	width: 10rem
	height: 10rem
	text-align: center
	line-height: 10rem
	font-size: 1.4rem
	+light
	color: $black
	text-transform: uppercase 
	i
		position: absolute
		top: 0
		left: 0
		+svg(preload-gray,10,10)

		&:before
			content: ""
			position: absolute
			top: 0
			left: 0 
			will-change: transform
			+svg(preload-orange,10,10)
			animation: rotate .8s linear infinite