.promo
	position: relative
	z-index: 1
	height: 100vh
	min-height: 780px
	background: #2d2331 
	&__slide
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: 2
		display: none
		&.is-visible
			display: block
	&__video
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 2
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 2
			background: rgba(#2d2331,.8) 
		video
			position: absolute
			top: 0
			left: 0
			min-width: 100%
			min-height: 100%
			height: auto
			width: auto
		
	&__main
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		z-index: 3
		.h1
			+rmin(1920)
				margin-top: 7rem
				margin-bottom: 1rem
	&__counter
		position: absolute
		z-index: 3
		left: 50%
		bottom: 0
		margin-left: -3.5rem
	// &__holder
	// 	position: absolute
	// 	top: 0
	// 	right: 0
	// 	bottom: 0
	// 	left: 0
	// 	z-index: 1
	// 	+cover
	&__footer
		position: absolute
		left: 0
		right: 0
		bottom: 2rem
		z-index: 3
		.city
			float: left
		.share
			float: right
	
.share
	position: relative
	margin-top: 2rem
	z-index: 2
	&:hover
		.share__in
			opacity: 1
			visibility: visible
			right: 100%
		.icon-share
			color: $yellow 	

	.icon-share
		color: #fff
		font-size: 1.9rem
		cursor: pointer 
		+tr(color .3s)
	&__in
		position: absolute
		padding-right: 2rem
		right: 0
		top: 0
		visibility: hidden
		will-change: opacity
		white-space: nowrap
		transition: opacity .3s, right .3s
		opacity: 0
		img
			display: inline-block
			vertical-align: middle
	.b-share-btn__wrap
		display: inline-block
		vertical-align: middle
		margin-right: 10px
		float: none !important
.main-section
	position: relative
	z-index: 2
	background: #fff 
.section
	position: relative
	z-index: 2
	background: #fff 
	padding: 0 0 12rem
	+clr
	.title
		padding: 11.3rem 0 10.0rem
	.text
		padding: 0 13.2rem
	&_pay
		padding-bottom: 7rem
.title
	font-size: 3.6rem
	+bold
	color: $black
	text-align: center
	text-transform: uppercase 
	&_mod
		margin-bottom: 4rem
	&_small-padding
		padding: 7rem 0 5rem !important
		margin-bottom: 0
.title-level-2
	margin-bottom: 1rem
	font-size: 2.6rem
	+light
	color: $black 
.title-level-3
	margin-bottom: 1rem
	font-size: 2.2rem
	+light
	color: $black 
.deliv
	float: left
	width: 50%
	text-align: center
	color: $gray
	font-size: 1.3rem
	&__in
		display: inline-block
		width: 41rem
	&__icon
		position: relative
		margin-bottom: 3rem
		display: inline-block
		i
			+icon
			font-size: 9.1rem
			color: $gray
		.badge
			right: 6.8rem
			top: 1.8rem
	&__text
		line-height: 1.8
.badge
	position: absolute
	padding: .2rem 1.1rem
	border-radius: .5rem
	font-size: 1.5rem
	color: #fff
	+sbold
	white-space: nowrap
	text-transform: uppercase	
	&_free
		background: #2BB573 
	&_pay	
		background: $red 
		
.line
	position: relative
	margin-bottom: 7.5rem
	text-align: center
	+ .title
		padding-top: 1.5rem
	+ .title_mod
		padding-bottom: 2rem
	&:before
		content: ""
		position: absolute
		bottom: 0.3rem
		left: 0
		right: 0
		height: 1px
		background: #d6d5da
	&__img
		position: relative
		display: inline-block
		vertical-align: middle
		z-index: 2
		width: 15.4rem
		background: #fff
		i
			font-size: 3.9rem
			
.text
	color: $gray
	font-size: 1.3rem 
	line-height: 1.8
	p
		margin-bottom: 2.3rem
.to-center_mt
	margin-top: 7rem
.pay-wrap
	padding: 0 9rem
	+clr 	
	font-size: 0
.pay
	display: inline-block
	position: relative
	margin-bottom: 7.0rem
	padding-left: 5.8rem
	vertical-align: top
	width: 45%
	color: $gray 
	&:nth-child(2n)
		margin-left: 10%
	&__icon
		position: absolute
		top: .9rem
		left: 0
		i
			color: $gray 
	.icon-pay
		font-size: 3.1rem
	.icon-file
		font-size: 3.2rem
	.icon-card
		font-size: 1.9rem
	.icon-sberbank
		font-size: 2.5rem
	&__main
		line-height: 1.8
		font-size: 1.2rem

.about
	position: relative
	z-index: 2
	background: #f6f6f6 
	+clr
	overflow: hidden
	min-height: 780px
	&_white
		background: #fff 
	&_no-padding
		.about__main
			padding: 0
	&_full-height
		.about__media
			height: 100vh
		.vertical
			height: 100vh
	&__media
		float: left
		position: relative
		width: 50%
		height: calc(100vh - 60px)
		min-height: 780px
		+rmin(1600)
			height: calc(100vh - 67px)
		+rmin(1800)
			height: calc(100vh - 82px)
	&__pic
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		display: none
		+vertical
		&.to-center
			text-align: center
		&.is-visible
			display: block
	&__pic-top
		bottom: 0
		top: 0 
		.about__img
			vertical-align: top
	&__img
		vertical-align: bottom
		position: relative
		display: inline-block
		padding: 10px 0 0
		width: 75%
		img
			width: 100%
			max-height: 100%
	&__img_1	
		width: 100%
		img
			margin-right: -18rem
			margin-bottom: -11rem
	&__img-top
		vertical-align: top
		padding: 0 
	&__main
		float: left
		position: relative
		padding: 0 5rem
		width: 50%
		.btn
			margin-top: 4rem
	.vertical
		height: calc(100vh - 60px)
		min-height: 780px
		+rmin(1600)
			height: calc(100vh - 67px)
		+rmin(1800)
			height: calc(100vh - 82px)
		&__in
			display: inline-block
			font-size: 1.3rem
			line-height: 1.8
			color: #858598
			+reg
	&__links
		position: absolute
		bottom: 4.6rem
		left: 0
		right: 0
		text-align: center
		text-transform: uppercase
		font-size: 0
		a
			display: inline-block
			vertical-align: middle
			margin-left: 6.6rem
			color: $gray
			font-size: 1.3rem
			&:hover
				span
					border-color: transparent 
			&:first-child
				margin-left: 0
			i, span
				display: inline-block
				vertical-align: middle
			span
				border-bottom: 1px dashed	
				+tr(border .3s)
			i
				margin-right: 1.1rem
				font-size: 1.5rem
				+rmin(1920)
					font-size: 1.7rem
			.icon-comment
				font-size: 1.2rem
				+rmin(1920)
					font-size: 1.5rem
		
.slide
	position: absolute
	top: 0
	bottom: 0
	left: 100%
	z-index: 2
	width: 50%
	background: #fff 
	will-change: transform
	+tr(transform .5s)
	transform: translateX(0)
	&.is-visible
		transform: translateX(-100%)
	&_static
		position: static
		width: 100%
		height: calc(100vh - 60px)
		min-height: 780px
		+rmin(1600)
			height: calc(100vh - 67px)
		+rmin(1800)
			height: calc(100vh - 82px)
		.slide__head
			padding-top: 11rem
			height: 32%
		.slide__body
			top: 32%
		.btn
			margin-top: 0
	&_map
		.slide__head
			padding-top: 100px
			height: 275px
			+rmin(1800)
				height: 315px
			.slide__tabs
				position: absolute
				bottom: 0
				left: 0
				right: 0
		.slide__body
			top: 275px
			+rmin(1800)
				top: 315px
	.icon-close
		position: absolute
		top: 9.3rem
		right: 4rem
		font-size: 2.0rem
		color: $black
		background: none
		+tr(color .3s)
		+rmin(1920)
			right: 3rem
			top: 7.3rem
		&:hover
			color: $red 
	&__head
		position: absolute
		top: 0
		right: 0
		left: 0
		padding-top: 12rem
		height: 32%
		text-transform: uppercase
		color: $black 
		text-align: center
		+rmin(1920)
			padding-top: 10rem
	&__body
		position: absolute
		top: 32%
		left: 0
		right: 0
		bottom: 0
	&__map
		position: absolute
		z-index: 1 
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__tabs
		position: relative
		z-index: 2
		background: #fff
		text-align: center
		&:before
			content: ""
			position: absolute
			top: -1.4rem
			left: 50%
			margin-left: -1.5rem
			width: 3rem
			height: 1px
			background: $black	
		li
			display: inline-block
			margin-left: 1rem
			&:first-child
				margin-left: 0
			&.is-active
				a
					color: $red
					&:after
						display: block
		a
			position: relative
			display: block
			padding: 0 1.5rem
			height: 4.5rem
			line-height: 4.5rem
			text-transform: uppercase
			color: $gray	
			font-size: 1.4rem
			+reg
			+tr(color .3s)
			&:hover
				color: $red 
			&:after
				content: ""
				display: none
				position: absolute
				bottom: -13px
				left: 50%
				margin-left: -17px
				+arr(34,14,#fff,b) 
	&__video
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		iframe
			position: absolute
			top: 0
			left: 0
			min-width: 100%
			min-height: 100%
			height: auto
			width: auto
		i
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			background: rgba(#2D2E47,.6) 
			+icon
			+vertical
			cursor: pointer
			&:after
				content: "\e61f"
				display: inline-block
				vertical-align: middle
				color: #fff
				font-size: 7.6rem 
				
.disqus-box
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2
	background: #fff 
	will-change: transform
	+tr(transform .5s)
	transform: translateY(100%)
	&.is-visible
		transform: translateY(0)
	.slide__body
		top: 42%
		left: 5rem
		right: 5rem
	.slide__head
		height: 42%
.main-title
	text-align: center
	font-weight: normal
	font-size: 5.2rem
	+bold
	color: $black
	text-transform: uppercase
	&_big
		font-size: 5.7rem
.helper-title
	text-align: center
	+light
	color: $black 
	font-size: 1.8rem
	font-weight: normal
	text-transform: uppercase
.map-popup
	font-size: 1.3rem
	+light
	color: $black 
.message
	position: absolute
	top: 100%
	right: 0
	left: 0
	padding: 1.4rem 8rem
	z-index: 3 
	background: #f7e380
	text-align: center 
	font-size: 1.4rem
	color: $black 
	span
		display: inline-block
		vertical-align: middle
	strong
		font-weight: normal
		+sbold
		font-size: 1.5rem
	.icon-close
		position: absolute
		top: 50%
		margin-top: -0.6rem
		right: 4rem
		font-size: 1.2rem
		color: #f5c137
		background: none 
		+tr(color .3s)
		&:hover
			color: $black 
.btn-simple
	display: inline-block
	vertical-align: middle
	margin-left: 1rem
	border: 1px solid #DDC86F
	padding: .55rem 1rem 
	min-width: 5.5rem
	border-radius: 5px 
	color: $black 
	background: none	
	+tr(background .3s)
	&.is-submit,
	&:hover
		background: #FDE896 

.tab-cont
	display: none
	&_map
		display: block
		visibility: hidden
	&.is-visible
		&.tab-cont_map
			visibility: visible
.reviews-wrap
	position: relative
	margin: 0 4.8rem
	height: 100%
	&__scroll
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 11.5rem
		overflow-y: auto
		+scrollbar
			background: #000 
			width: 5px
			height: 5px
			background: #F1F0EF
			border-radius: 2px 
		+scrollbar-thumb
			background: #E2E3E2 
			border-radius: 2px 
	.to-center
		position: absolute
		padding-top: 2.2rem
		left: 0
		right: 0
		bottom: 0
		height: 11.5rem
		&:before
			content: ""
			position: absolute
			top: -1.2rem
			left: 0
			right: 0
			height: 1.2rem
			+g(rgba(#fff,.1), rgba(#fff,1))	

.review
	margin-bottom: 5rem
	padding-right: 5rem
	+clr
	&__img
		float: left
		margin-right: 3.3rem
		padding-top: 0.5rem
		width: 9.1rem
	&__main
		overflow: hidden
	&__title
		display: inline-block
		margin-bottom: 0.5rem
		font-size: 1.5rem
		text-transform: uppercase
		+reg
		color: $red 
	&__text
		margin-bottom: 1.2rem
		font-size: 1.2rem
		line-height: 1.8
		color: $gray 
	&__action
		color: $gray
		li
			display: inline-block
			margin-right: 2.5rem
			vertical-align: middle
		a
			color: $gray
			text-decoration: underline
			+tr(color .3s)
			&:hover
				text-decoration: none
				color: $red 
		i
			margin-right: 0.6rem
			font-size: 1.2rem
.user
	display: block
	width: 9.1rem
	height: 9.1rem
	overflow: hidden
	border-radius: 50% 
	img
		display: block
		width: 100%
		height: auto
		border-radius: 50% 
		
.tip
	position: absolute
	opacity: 0
	z-index: 2
	visibility: hidden
	padding: .8rem 1.4rem 
	max-width: 18rem
	background: #f7e380
	+sbold
	line-height: 1.5
	color: #6f6d77
	font-size: 1rem
	border-radius: 5px
	text-align: left
	+tr(opacity .5s)
	&.is-visible
		opacity: 1
		visibility: visible
	&:before
		content: ""
		position: absolute
		top: -1.5rem
		left: -1.3rem
		+svg(tip-arr,1.9,3.1)
	&_white
		max-width: 18.7rem
		border: 1px solid #EAE6E6
		background: #fff
		color: #858598 
		font-size: 1.1rem
		&:before
			top: -1.6rem
			left: -1.2rem
			+svg(tip-arr-white,1.9,3)
	&_right
		&:before
			top: -1.55rem
			left: auto
			right: -1.2rem
			+svg(tip-arr-white3,1.9,3)
	&_simple
		padding: 1.2rem 3.5rem 1.2rem 1.5rem 
		width: auto
		&:before	
			display: none
		&:after
			content: ""
			position: absolute
			bottom: -7px
			left: 50%
			margin-left: -5px
			+arr(10,7,#f7e380,b) 
		.icon-close
			position: absolute
			right: 1rem
			top: 50%
			margin-top: -.4rem
			color: #f4c434
			font-size: .8rem 
			background: none
			+tr(color .3s)
			&:hover
				color: $black 
.circle
	position: relative
	width: 7rem
	height: 7rem
	line-height: 7rem
	margin-bottom: 3.3rem
	text-align: center
	&:after
		content: ""
		position: absolute
		top: 1px
		right: 1px
		bottom: 1px
		left: 1px
		border: 1px solid $gray
		border-radius: 50%  
	svg
		position: absolute
		z-index: 2
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__text
		color: #fff
		font-size: 1.1rem
		text-transform: uppercase
		+reg 