.window
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	padding: 7rem 0 
	background: #fff
	z-index: 9
	overflow-y: auto
	+vertical
	&__in
		display: inline-block
		vertical-align: middle
		width: 82%
		.main-title
			margin-bottom: 5.5rem
		> .icon-close
			position: absolute
			right: 4.4rem
			top: 8.4rem
			background: none
			font-size: 2rem
			color: $black
			+tr(color .3s)
			&:hover
				color: $red 
	&__cols
		+clr
	&__col-width
		float: left
		width: 54.7%
	&__col-small
		overflow: hidden
		padding-left: 6rem
	&__center
		margin: 0 auto 
		width: 54.7%
.text
	color: $gray
	font-size: 1.3rem
	text-align: left
	+reg 

.fieldset
	font-size: 0
	margin-bottom: 1.8rem
.input-wrap
	position: relative
	display: inline-block
	vertical-align: middle
	margin-left: 2.7%
	width: 100%
	font-size: 1.3rem
	&:first-child
		margin-left: 0
	&_col-23
		width: 23%
	&_col-31
		width: 31.5%
	&_col-40
		width: 40%	
	&_col-44
		width: 44%
	&_col-53
		width: 53%
	label
		&.has-error
			display: none !important
			position: absolute
			top: 100%
			color: $red
			font-size: .8rem
			padding-left: 2rem 
			left: 0
			right: 0
			text-align: left
.input
	display: block
	border: 1px solid #f3f3f3
	padding: 0 2rem 
	width: 100%
	height: 4.7rem
	font-size: 1.3rem
	+reg
	color: $black
	background: #f3f3f3
	+tr(background .3s)
	border-radius: 5px 
	+rmin(1920)
		height: 5.15rem 
	&:focus
		background: #fff 
		color: #E95F24 
		border-color: #E6E6E5 
		+ .input-placeholder
			display: none !important
		+ label
			+ .input-placeholder
				display: none !important
	&.has-error
		border-color: $red 
	&[required]
		+ .input-placeholder
			&:after
				content: " *" 
				color: $red 
	+ label
		+ .input-placeholder
			&:after
				content: " *" 
				color: $red 
.input_textarea
	height: 11.2rem
	padding-top: 1.5rem
	resize: none 
	
.input-placeholder
	position: absolute
	top: 0
	left: 0
	width: 100%
	color: $gray_d 
	border: 1px solid transparent
	padding: 0 2rem 
	width: 100%
	font-size: 1.3rem
	pointer-events: none
	text-align: left
	height: 4.7rem
	line-height: 4.7rem
	+reg
	+rmin(1920)
		height: 5.15rem 
		line-height: 5.15rem
.input-tip
	position: absolute
	display: none
	left: 100%
	top: 50%
	margin-left: 2.1rem
	transform: translateY(-50%)
	background: #f7e380
	padding: 1.5rem 3.5rem 1.5rem 1.5rem
	min-width: 31.8rem 
	border-radius: 5px 
	+sbold
	font-size: 1rem
	color: #6f6d77 
	&:before
		content: ""
		position: absolute
		left: -7px
		top: 50%
		margin-top: -4px
		+arr(7,8,#f7e380,l) 
	.icon-close
		position: absolute
		top: 50%
		right: 1.4rem
		margin-top: -0.4rem
		font-size: 0.8rem
		color: #f5c137 
		background: none
		+tr(color .3s)
	&:hover
		.icon-close
			color: #000 
			
.input-wrap_select
	cursor: pointer
	&:after
		content: ""
		position: absolute
		top: 50%
		margin-top: -.2rem
		right: 2.2rem 
		+svg(caret-d-gray,.8,.5)
	.input
		cursor: pointer
		padding-right: 2.5rem
	select
		opacity: 0
		position: absolute
		z-index: 2
		top: 0
		left: 0
		width: 100%
		height: 100%
.input-wrap_height
	.input_textarea
		min-height: 24rem


.window_calendar
	background: none
	.calendar
		margin: 0 auto
		border: 1px solid #dcdcdc 
		padding: 3rem 1rem 
		width: 52.6rem
		background: #fff 
		border-radius: 5px 
.ie
	.window_calendar
		background: #fff
	svg
		height: 386px
		width: auto