	<footer class="footer">
		<a href="#" class="logo"><i class="icon-logo"></i></a>
		<ul class="footer__nav">
			<li><a href="#">Шоу</a></li>
			<li><a href="#">Купить билеты</a></li>
			<li><a href="#">Доставка и оплата </a></li>      
			<li><a href="#">Оферта</a></li>
			<li><a href="js-window-order" class="js-window-toggle">Групповая заявка</a></li>
			<li><a href="#">Прошедшие шоу</a></li>
		</ul>
		<div class="footer__message">
			У Вас остались еще вопросы?  <a href="js-window-feedback" class="js-window-toggle">Напишите нам</a> и мы обязательно ответим на них.
		</div>
		<div class="footer__meta">
			© Продажа билетов , Права на материалы, используемые на сайте, принадлежат их правообладателям. Портал по подбору, заказу и доставке билетов, не является официальным ресурсом Цирка дю Солей
		</div>
	</footer>
	<script src="js/main.js"></script>
</body>
</html>