<!-- BEGIN header -->
<header class="header">
	<div class="l-center">
		<a href="#" class="logo">
			Cirque Du Soleil
			<i class="icon-logo"></i>
		</a>
		<div class="city">
			<span class="city__title">Шоу в городе: </span>  
			<div class="city__main">
				<a href="#" class="city__active"><span>Москва</span></a>
				<ul class="city__list">
					<li><a href="#">Владивосток</a></li>
					<li><a href="#">Краснодар</a></li>
					<li><a href="#">Ярославль</a></li>
					<li><a href="#">Санкт-петербург</a></li>
					<li><a href="#">Пермь</a></li>
					<li><a href="#">Минск</a></li>
				</ul>
			</div>
		</div>
		<ul class="nav">
			<li class="has-drop-nav">
				<a href="#">Шоу</a>
				<ul class="nav__drop">
					<li><a href="#">Quidam</a></li>
					<li><a href="#">Eloize ID</a></li>
				</ul>
			</li>
			<li><a href="#">Купить билеты</a></li>
			<li><a href="#">Доставка и оплата</a></li>
			<li><a href="js-window-order" class="js-window-toggle">групповая заявка</a></li>
		</ul>
		<a href="tel:+7 (495) 646 03 33" class="tel"><i class="icon-tel"></i>+7 (495) 646 03 33</a>
	</div>
</header>
<!-- END header -->