<div class="window js-window js-window-feedback">
	<div class="window__in">
		<div class="helper-title">обратная связь</div>
		<div class="main-title">Написать нам</div>
		<div class="window__center">
			<form class="js-validate">
				<fieldset class="fieldset">
					<div class="input-wrap input-wrap_col-31">
						<input class="input js-input" name="name" type="text" required>
						<span class="input-placeholder js-placeholder">Ваше имя</span>
					</div>
					<div class="input-wrap input-wrap_col-31">
						<input class="input js-input" name="email" type="email" required>
						<span class="input-placeholder js-placeholder">Ваш email</span>
					</div>
					<div class="input-wrap input-wrap_col-31">
						<input class="input js-input" name="phone" type="tel" required>
						<span class="input-placeholder js-placeholder">Телефон</span>
					</div>
				</fieldset>
				<fieldset class="fieldset">
					<div class="input-wrap input_height">
						<textarea class="input input_textarea js-input"></textarea>	
						<span class="input-placeholder js-placeholder">Сообщение</span>
					</div>
				</fieldset>
				<div class="to-center">
					<button class="btn btn_red btn_big btn_center" type="submit">Отправить <i class="icon-send"></i></button>
				</div>
			</form>
		</div>
		<button class="icon-close js-close-window" type="button"></button>
	</div>
</div>