<div class="window js-window js-window-order">
	<div class="window__in">
		<div class="helper-title">скидки от 10 человек</div>
		<div class="main-title">групповая заявка</div>
		<div class="window__cols">
			<div class="window__col-width">
				<form class="js-validate">
					<fieldset class="fieldset">
						<div class="input-wrap input-wrap_col-31">
							<input class="input js-input" type="text" name="name" required>
							<span class="input-placeholder js-placeholder">Ваше имя</span>
						</div>
						<div class="input-wrap input-wrap_col-31">
							<input class="input js-input" type="email" name="email" required>
							<span class="input-placeholder js-placeholder">Ваш email</span>
						</div>
						<div class="input-wrap input-wrap_col-31">
							<input class="input js-input" type="phone" name="tel" required>
							<span class="input-placeholder js-placeholder">Телефон</span>
						</div>
					</fieldset>
					<fieldset class="fieldset">
						<div class="input-wrap input-wrap_select js-select input-wrap_col-44">
							<input class="input js-input" name="address" type="text" required>
							<span class="input-placeholder js-placeholder">Город проведения</span>
							<select>
								<option value="Владивосток">Владивосток</option>
								<option value="Краснодар">Краснодар</option>
								<option value="Ярославль">Ярославль</option>
								<option value="Санкт-петербург">Санкт-петербург</option>
								<option value="Пермь">Пермь</option>
								<option value="Минск">Минск</option>
							</select>
						</div>
						<div class="input-wrap input-wrap_select js-select input-wrap_col-53">
							<input class="input js-input" name="show" type="text" required>
							<span class="input-placeholder js-placeholder">Выберите шоу</span>
							<select>
								<option value="Шоу QUIDAM">Шоу QUIDAM</option>
								<option value="Шоу QUIDAM1">Шоу QUIDAM1</option>
								<option value="Шоу QUIDAM2">Шоу QUIDAM2</option>
								<option value="Шоу QUIDAM3">Шоу QUIDAM3</option>
							</select>
						</div>
					</fieldset>
					<fieldset class="fieldset">
						<div class="input-wrap input-wrap_col-31">
							<input class="input js-input" class="js-datepicker" type="text" required>
							<span class="input-placeholder js-placeholder">Дата</span>
						</div>
						<div class="input-wrap input-wrap_col-23">
							<input class="input js-input" type="text" name="digits">
							<span class="input-placeholder js-placeholder">Кол-во человек</span>
						</div>
						<div class="input-wrap input-wrap_col-40">
							<input class="input js-input" type="text">
							<span class="input-placeholder js-placeholder">Прикрепить реквизиты</span>
							<div class="input-tip js-input-tip js-parent-hidden">
								Вы можете прикрепить реквизиты для оплаты по безналу
								<button class="icon-close js-hide-parent" type="button"></button>
							</div>
						</div>
					</fieldset>
					<fieldset class="fieldset">
						<div class="input-wrap">
							<textarea class="input input_textarea js-input" name="message"></textarea>
							<span class="input-placeholder js-placeholder">Сообщение</span>
						</div>
					</fieldset>
					<div class="to-right">
						<button class="btn btn_red btn_big" type="submit">Отправить заявку <i class="icon-send"></i></button>
					</div>
				</form>
			</div>
			<div class="window__col-small">
				<div class="text">
					<p>Лучшие места в зрительном зале по индивидуальному запросу; <br>
					Возможность выкупа Ложи целиком; <br>
					Целевой спектакль, организованный только для Вашей компании; <br>
					Аренда зала, в рамках корпоративной программы;
					Встреча и сопровождение гостей и многое другое.
					Каждый заказ оформляется в индивидуальном порядке.</p> 
					<p>Ваши возможности Вы можете уточнить у менеджера по телефону +7(495)150-03-53. Помимо этого корпоративная заявка дает Вам возможность получить скидку, в случает если оформляется для десяти и более человек.</p>
					<p>Наши менеджеры проконсультируют Вас по билетам, подробно ответят на все Ваши вопросы и помогут подобрать для Вашей компании наиболее удобные места и даты.</p>
				</div>
			</div>
		</div>
		<button class="icon-close js-close-window" type="button"></button>
	</div>
</div>