/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arr-b-small-name: 'arr-b-small'
$arr-b-small-x: 84px
$arr-b-small-y: 23px
$arr-b-small-offset-x: -84px
$arr-b-small-offset-y: -23px
$arr-b-small-width: 14px
$arr-b-small-height: 6px
$arr-b-small-total-width: 101px
$arr-b-small-total-height: 67px
$arr-b-small-image: 'sprite.png'
$arr-b-small: 84px 23px -84px -23px 14px 6px 101px 67px 'sprite.png' 'arr-b-small'
$arr-b-name: 'arr-b'
$arr-b-x: 56px
$arr-b-y: 0px
$arr-b-offset-x: -56px
$arr-b-offset-y: 0px
$arr-b-width: 45px
$arr-b-height: 23px
$arr-b-total-width: 101px
$arr-b-total-height: 67px
$arr-b-image: 'sprite.png'
$arr-b: 56px 0px -56px 0px 45px 23px 101px 67px 'sprite.png' 'arr-b'
$arr-l-name: 'arr-l'
$arr-l-x: 56px
$arr-l-y: 23px
$arr-l-offset-x: -56px
$arr-l-offset-y: -23px
$arr-l-width: 7px
$arr-l-height: 15px
$arr-l-total-width: 101px
$arr-l-total-height: 67px
$arr-l-image: 'sprite.png'
$arr-l: 56px 23px -56px -23px 7px 15px 101px 67px 'sprite.png' 'arr-l'
$arr-t-name: 'arr-t'
$arr-t-x: 0px
$arr-t-y: 39px
$arr-t-offset-x: 0px
$arr-t-offset-y: -39px
$arr-t-width: 45px
$arr-t-height: 23px
$arr-t-total-width: 101px
$arr-t-total-height: 67px
$arr-t-image: 'sprite.png'
$arr-t: 0px 39px 0px -39px 45px 23px 101px 67px 'sprite.png' 'arr-t'
$close-big-name: 'close-big'
$close-big-x: 0px
$close-big-y: 0px
$close-big-offset-x: 0px
$close-big-offset-y: 0px
$close-big-width: 39px
$close-big-height: 39px
$close-big-total-width: 101px
$close-big-total-height: 67px
$close-big-image: 'sprite.png'
$close-big: 0px 0px 0px 0px 39px 39px 101px 67px 'sprite.png' 'close-big'
$close-name: 'close'
$close-x: 45px
$close-y: 39px
$close-offset-x: -45px
$close-offset-y: -39px
$close-width: 20px
$close-height: 20px
$close-total-width: 101px
$close-total-height: 67px
$close-image: 'sprite.png'
$close: 45px 39px -45px -39px 20px 20px 101px 67px 'sprite.png' 'close'
$codedby-name: 'codedby'
$codedby-x: 0px
$codedby-y: 62px
$codedby-offset-x: 0px
$codedby-offset-y: -62px
$codedby-width: 47px
$codedby-height: 5px
$codedby-total-width: 101px
$codedby-total-height: 67px
$codedby-image: 'sprite.png'
$codedby: 0px 62px 0px -62px 47px 5px 101px 67px 'sprite.png' 'codedby'
$coderiver-name: 'coderiver'
$coderiver-x: 47px
$coderiver-y: 62px
$coderiver-offset-x: -47px
$coderiver-offset-y: -62px
$coderiver-width: 49px
$coderiver-height: 5px
$coderiver-total-width: 101px
$coderiver-total-height: 67px
$coderiver-image: 'sprite.png'
$coderiver: 47px 62px -47px -62px 49px 5px 101px 67px 'sprite.png' 'coderiver'
$eye-name: 'eye'
$eye-x: 63px
$eye-y: 23px
$eye-offset-x: -63px
$eye-offset-y: -23px
$eye-width: 21px
$eye-height: 11px
$eye-total-width: 101px
$eye-total-height: 67px
$eye-image: 'sprite.png'
$eye: 63px 23px -63px -23px 21px 11px 101px 67px 'sprite.png' 'eye'
$pin-name: 'pin'
$pin-x: 65px
$pin-y: 39px
$pin-offset-x: -65px
$pin-offset-y: -39px
$pin-width: 12px
$pin-height: 19px
$pin-total-width: 101px
$pin-total-height: 67px
$pin-image: 'sprite.png'
$pin: 65px 39px -65px -39px 12px 19px 101px 67px 'sprite.png' 'pin'
$sep-name: 'sep'
$sep-x: 39px
$sep-y: 0px
$sep-offset-x: -39px
$sep-offset-y: 0px
$sep-width: 17px
$sep-height: 30px
$sep-total-width: 101px
$sep-total-height: 67px
$sep-image: 'sprite.png'
$sep: 39px 0px -39px 0px 17px 30px 101px 67px 'sprite.png' 'sep'
$spritesheet-width: 101px
$spritesheet-height: 67px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: $arr-b-small $arr-b $arr-l $arr-t $close-big $close $codedby $coderiver $eye $pin $sep
$spritesheet: 101px 67px 'sprite.png' $spritesheet-sprites

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../img/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
